<div class="container">
    <div class="row col-md-5 let _company of company" *ngIf="company">
        <ul class="list-group" >
            <li id="firstrow" class="list-group-item text-center">Profile</li>
            <li class="list-group-item">Company's Name: {{company.name}}</li>
            <li class="list-group-item">Headquartes: {{company.headquarters}}</li>
            <li class="list-group-item">Website: {{company.website}}</li>
            <li class="list-group-item">Motto: {{company.motto}}</li>
            <li class="list-group-item">Description: {{company.description}}</li>
        </ul>
    </div>
</div>