<div class="form-group">
  <input type="text" class="form-control" placeholder="Search by Name" style="width:200px" [(ngModel)]="searchTerm">
</div>

<div class="container">
  <div class="row">
    <mdb-card class="testimonial-card col-md-4"
      *ngFor="let jobseeker of jobseekers | jobseekerFilter:searchTerm">
      <div class="card-up indigo lighten-1">
      </div>
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
      </div>

      <mdb-card-body>
        <mdb-card-title>
          <a routerLink="/jobseeker/{{jobseeker.id}}">
            <h4>{{jobseeker.firstname}} {{jobseeker.lastname}}</h4>
          </a>
        </mdb-card-title>
        <hr>
        <p>
          <span *ngFor="let ps of jobseeker.programming_skills"
            class="badge badge-pill badge-primary">{{ps.name}}</span>
        </p>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>