<!-- <div class="container">
    <div class="row flex-lg-nowrap">
        <div class="col">
            <div class="row" *ngIf="jobseeker">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <h4 class="text-center">Add new Profile  </h4>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <form class="form" [formGroup]="profileForm" >
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Full Name :</label> <br>
                                                                <input class="form-control" formControlName="firstname, lastname" type="text" value="{{jobseeker.firstname}} {{jobseeker.lastname">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label>Age :</label>
                                                                <input class="form-control" formControlName="age" type="text" 
                                                                     value="{{jobseeker.age}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label> City :</label>
                                                                <input type="text" formControlName="city" class="form-control" value="{{jobseeker.city}}">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label> Country :</label>
                                                                <input type="text" class="form-control" formControlName="country" value="{{jobseeker.country}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label> Phonenumber :</label>
                                                                <input class="form-control" formControlName="phonenumber" type="text"
                                                                    value="{{jobseeker.phonenumber}}">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label> Zipcode :</label>
                                                                <input type="text" class="form-control" fromControlName="zipcode" value="{{jobseeker.zipcode}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col mb-3">
                                                            <div class="form-group">
                                                                <label>Description</label>
                                                                <textarea class="form-control" formControlName="description" rows="5"
                                                                value="{{jobseeker.description}}"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col d-flex justify-content-end">
                                                    <button class="btn btn-primary" type="submit">Save Changes</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> -->