@import '~bootstrap/dist/css/bootstrap.min.css';

header {
    background-image: url("/assets/editprofile.jpeg");
    background-size: cover;
    height: 100vh !important ;
}

div {
    font-weight: bold;
}

.card {
    background-color: rgba(229, 228, 255, 0.2);
    border: none;
  }
