    /* .hero-image {
      background-image:url("C:\Users\User\Desktop\asdasd\vizsga6\src\app\resources\homehatter.jpeg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

    .hero-text {
      text-align: center;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: blue;
    }

    h2 {
        margin-bottom: 100px;
    } */

   img {
     background: linear-gradient(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5);
   }