<header class="intro-header">

  <section class="view intro-2">
    <div class="container flex-center">
      <div class="d-flex">
        <div class="row flex-center pt-5 mt-3 w-100 justify-content-center">
          <div class="col mb-3 mb-md-0">
            <mdb-card class="h-100">
              <div class="text-center p-3">
                <div>
                  <h2 class="h1 h1-responsive font-bold">Looking for a Company?</h2>
                  <hr>
                  <h6>Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!
                    Commodi sequi
                    non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</h6>
                  <br>
                  <a routerLink="/companies" mdbBtn color="white" outline="true" >Start Looking!</a>
                </div>
              </div>
            </mdb-card>
          </div>

          <div class="row col-md-6 col-xl-5 offset-xl-1">
            <mdb-card class="h-100">
              <div class="text-center p-3">
                <div>
                  <h2 class="h1 h1-responsive font-bold">Looking for a Job Seeker?
                  </h2>
                  <hr class="hr-light">
                  <h6 >Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!
                    Commodi sequi
                    non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</h6>
                  <br>
                  <a routerLink="/jobseekers" mdbBtn color="white" outline="true">Start Looking!</a>
                </div>
              </div>
            </mdb-card>
          </div>
        </div>
      </div>
    </div>
  </section>

</header>