<!-- <div class="container-fluid background">
    <div class="row justify-content-center">
        <h3>Welcome to BidMe</h3>
    </div>
    <div class="row">
        <div class="hero-image">
            <div class="hero-text">
              <h1>I am John Doe</h1>
              <p>And I'm a Photographer</p>
            </div>
          </div>
    </div>
</div> -->


<!-- <div class="container-fluid hero-image">
    <section class="d-flex justify-content-center align-items-center h-100 flex-row flex-wrap">
        <div class="container">
            <h2 class="text-center">Welcome to BidMe</h2>
            <div class="row justify-content-center">
                <div class="col-md-6 mb-3 my-auto text-center">
                    <h3>Looking for a Company?</h3>
                    <a routerLink='/companies'>Find Company</a>
                </div>
                <div class="col-md-6 mb-3 my-auto text-center">
                    <h3>Looking for Job Seekers?</h3>
                    <a routerLink='/jobseekers'>Find Job Seekers</a>
                </div>
                <span class="nav-tool-items">
                    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
                  </span>
            </div>
        </div>    
    </section> -->

    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/homehatter.jpeg" alt="Angular Carousel 1">
          </div>
          <div class="carousel-caption">
            <h3>Looking for a Company?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/loginhatter.jpeg" alt="Angular Carousel 2">
          </div>
          <div class="carousel-caption">
            <h3>Looking for a Job Seeker?</h3>
             <a routerLink='/jobseekers'>Start Looking</a>
          </div>
        </ng-template>
    </ngb-carousel>